
.sp_body {
    /* display: flex; */
    margin: 0.2rem auto;
    flex-direction: row;
    background-image: url(./Images/loginpage.png);
    background-size: cover;
    height: 98vh;
}

.inputs {
    display: block;
    width: 34.375rem;
    margin: auto;
    margin-left: 120px;
}

.image_div{
    display: block;
    width: 40%;
    padding: 4rem;
    margin-top: 1%;
    margin-bottom: 10%;
}


input {
    width: 60%;
    display: block;
    padding: 0.6rem 0.5rem;
    border-radius: 0.5rem;
    border: 1.5px solid #223F68;
    text-align: left;
    margin: 0.8rem 0;
    background-color: #fff;
}

.button_sp {
    margin: 0.6rem 0rem;
    display: block;
    width: 403px;
    background-color: #1D2F50;
    text-align: center;
     color:#5FFF00;
}
.inputs h2{
    text-align: left;
    color: #1D2F50;
}

.inputs p {
    font-size: medium;
}

.forgot p {
    font-size: medium;
}