.box1, .box2, .box3, .box4, .box5, .box6 {
    width: 20rem;
    height: 20rem;
    flex-shrink: 0;
    border-radius: 4.2rem;
    border: 7px solid rgba(233, 69, 96, 0.25);
    box-shadow: 7px 6px 10px 0px rgba(0, 0, 0, 0.25);
    /* flex-direction: column; */
    /* flex-wrap: nowrap; */
    /* align-items: center;
    display: flex;
    justify-content: flex-end; */
    margin: 39px 5px;
    background-color: rgb(251, 251, 251);
}

.box1 .boxtext {
    padding-bottom: 20rem;
}

.smallbox img {
    width: 8.125rem;
    height: 8rem;
}


.boxtext {
    padding-top: 0.313rem;
    padding-bottom: 2.5rem;
    color: #223F68;
    text-align: center;
    font-family: Poppins;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 20.875rem;
}


.box {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    padding-left: 3.125rem;
    padding-right: 3.125rem;
}

